.main-section-container {
  display: flex;
  flex-direction: row;
  align-items: center; /* Center horizontally */
  height: 90vh; /* 90% of the viewport height */
  justify-content: center;
  gap: 20px;
  margin: 0px 90px 0px;
}

.tabs-container {
  width: 90%; /* 90% of the parent container width */
  height: 90%;
  padding: 20px;
}

.content {
  flex: 1; 
  padding-right: 20px;
}

.title {
  color: #333;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.description {
  color: #666;
  font-size: 1em;
  margin-bottom: 20px;
}

.image-container {
  flex: 1; 
  text-align: right;
}

.image {
  max-width: 100%;
  height: 720px;
}

.get-started-btn {
  background-color: #007bff; /* Adjust the color to fit your theme */
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 20px; /* Add some space above the button */
  text-transform: uppercase; /* Optional style */
}

.get-started-btn:hover {
  background-color: #0056b3; /* Darker background on hover for feedback */
}

/* Header styles */
.header {
  background-color: wheat; /* Background color */
  color: #333; /* Text color */
  padding: 20px 40px; /* Padding around content */
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Space between logo and nav */
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Align items vertically */
}

.logo {
  color: #333;
  margin: 0; /* Remove default margin */
}

/* Header styles */
.header {
  background-color: white; /* Background color */
  color: #333; /* Text color */
  padding: 10px 20px; /* Padding around content */
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Space between logo, nav, and sign-out button */
  align-items: center; /* Align items vertically */
}

.logo {
  color: #333;
  margin: 0; /* Remove default margin */
}

/* Navigation styles */
.header nav ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.header nav ul li {
  display: inline; /* Display list items horizontally */
  margin-left: 10px; /* Reduced spacing between list items */
}

.header nav ul li:first-child {
  margin-left: 0; /* Remove margin for first item */
}

.header nav ul li a {
  color: #333; /* Text color for links */
  text-decoration: none; /* Remove underline */
  font-size: 16px; /* Reduced font size */
  padding: 8px 16px;
  border-radius: 20px;
}

.header nav ul li a:hover {
  text-decoration: none; /* Add underline on hover */
}

.sign-out-btn {
  color: #fff; /* Text color */
  background-color: #007bff; /* Background color */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  padding: 15px 30px; /* Padding */
  cursor: pointer; /* Cursor style */
  font-size: 1em; /* Font size */
}

.sign-out-btn:hover {
  background-color: #0056b3; /* Darker background color on hover */
}


/* Footer styles */
.footer {
  background-color: #333; /* Background color */
  color: #fff; /* Text color */
  padding: 5px 2px; /* Padding around content */
  text-align: center; /* Center align text */
  position: fixed; /* Position fixed */
  bottom: 0; /* Align to the bottom of the viewport */
  width: 100%; /* Full width */
}
